.footer {
    background-color: #101d3e;
    color           : whitesmoke;

    .footer_content {
        .logo {
            .logo-media {
                max-width: 272px;
                height   : auto;
            }
        }

        .footer-icon {
            display        : flex;
            flex-wrap      : wrap;
            flex-direction : row;
            justify-content: flex-end;
            align-items    : center;

            .link-icon {
                transition  : all 0.2s ease-in-out;
                color       : whitesmoke;
                margin-right: 16px;

                &:hover {
                    color: #f86f32;
                }
            }
        }

        .item-content {
            display        : flex;
            justify-content: center;

            .icon {
                font-size   : 20px;
                margin-right: 8px;

            }
        }

        .link_copyright {
            text-decoration: none;
            color          : whitesmoke;
            transition     : all 0.3s ease-in-out;

            &:hover {
                color: #c02739;
            }
        }
    }
}

@media(max-width: 900px) {
    .footer .footer_content {
        flex-direction: column;
        align-content : center;

        .item-content {
            max-width: 100%;
        }

        .footer-copy-icon {
            flex-direction: column-reverse;
        }
    }
}
